*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #9A616D;
}
.cont{
    height: 53vh;
    width: 400px;
    margin: 20vh auto;
}
.menu{
    height: 53vh;
    width: 100%;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 5px;
}
.menu h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.inp input{
    width: 98%;
    height: 4vh;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    margin: 5px;
}
.inp{
    margin-top: 3rem;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.btn{
    display: flex;
    padding: 1rem;
    justify-content: center;
}
button{
    height: 5vh;
    width: 19vw;
    background-color: #9A616D;
    border-radius: 5px;
    border: none;
    color: #FFF;
}
button:hover{
    border: 1px solid #9A616D;
    background-color: #FFF;
    color: #9A616D;
}
.btn a:hover{
    color: #9A616D;
}
.btn a{
    color: #FFF;
    text-decoration: none;
}
p{
    text-align: center;
    margin: 1rem;
}
a{
    text-decoration: none;
    color: #000;
}